# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# autosave stuff
auto-save-list

# eww files
url

# Server files (I don't know what these are)
server

# Flycheck files
flycheck_init.el